
    <div class="container">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="../../assets/ps5.png" class="d-block w-100" alt="Imagen de consola de última generación" width="300px" height="400px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/skate.jpg" class="d-block w-100" alt="Imgane vehículo híbrido"width="300px" height="400px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/relojes.jpg" class="d-block w-100" alt="Imagen de relojes" width="300px" height="400px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      <br/>
      <br/>
      <h3 style="text-align: center;">Más populares</h3>

      <div class="row">
        <div class="card">
           <div  *ngFor="let product of products">
            <div class="card-body">
                <div class="card-header">
                  <h3 style="text-align: center;">{{product.title}}</h3>
              </div>
                <img src="{{product.img}}" class="card-img-top" >
                <div class="card-footer">
                  <p style="font-size: medium;" class="card-text">{{product.description}}</p>

                </div>
             </div>
           </div>
         </div>
        </div>


    </div>



